:root {
  --hover-color: hsl(248, 32%, 49%);;
}

svg {
  width: 25px;
  height: 25px;
  padding: 10px;
}

ul {
  list-style-type: none;

}

ul, li {
  padding: 0;
  margin: 0;
}

li.col-4 {
  flex: 0 0 25px;
}

ul.row.align-items-center {
  width: 75px;
  padding-right: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

header > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > ul > li > span:first-child {
  font-style: bold;
  color: red;
}

